/* Large devices */
@media screen and (max-width: 1150px){

  *{
    font-size: 15px;
  }

  .home-content{
    padding: 0 4rem;
  }

  .container{
    padding: 0 4rem;
  }

  .project .container img{
    width: 35rem;
  }

}

/* Medium size deivices (tablets) */
@media screen and (max-width: 750px){

  *{
    font-size: 14px;
  }
  
  .menu .menu-info{
    width: 50%;
    padding-right: 1rem;;
  }

  .menu .menu-nav{
    width: 50%;
    padding-left: 1rem;
  }

  
  .home-content{
    padding: 0 2rem;
  }

  .container{
    padding: 0 2rem;
  }

  .project .container img{
    width: 32rem;
  }
  
  .toggler-container{
    padding: 1.4rem 0.9rem;
  }

}


/* small devices (smartphones) */
@media screen and (max-width: 550px){
  *{
    font-size: 13px;
  }
  
  .menu .menu-info{
    display: none;
  }

  .menu .menu-nav{
    width: 100%;
    text-align: center;
    height: 100vh;
    padding: 0;
    margin-bottom: 20vh;
  }

  
  .home-content{
    padding: 0 1rem;
  }

  .container{
    padding: 0 0;
  }

  .project .container img{
    width: 22rem;
  }
}

